:root {
  /* Dark mode */
  --clr-primary-dark: #34495E;
  --clr-secondary-dark: #FFD700;
  --clr-background-dark: #121212;
  --clr-text-dark: #F5F5F5;
  --clr-accent-dark: #8B0000;

  /* Light mode */
  --clr-primary-light: #2C3E50;
  --clr-secondary-light: #D4AF37;
  --clr-background-light: #FFFFFF;
  --clr-text-light: #1C1C1C;
  --clr-accent-light: #800020;

  /* Optional neutrals */
  --clr-muted-dark: #888888;
  --clr-muted-light: #666666;
}

*{  
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0,5rem);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-background-dark);
    color: var(--clr-text-dark);
}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-accent-dark);
}
strong{
    color: var(--clr-secondary-dark);
}